DB__HOSTNAME=localhost
DB__PORT=5432
DB__PASSWORD=
DB__NAME=
DB__USERNAME=
AUTH__SECRET_KEY=
AUTH__ALGORITHM=HS256
AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=
AWS__ACCESS_KEY_ID=""
AWS__SECRET_ACCESS_KEY=""
AWS__BUCKET_NAME=""
AWS__IMAGE_URL_PREFIX=""
AWS__ENDPOINT_URL=""
FLASHCALL__PUBLIC_KEY=""
FLASHCALL__CAMPAIGN_ID=
FIREBASE__CREDENTIALS='{"type": "service_account", "project_id": "<>", "private_key_id": "<>", "private_key": "-----BEGIN PRIVATE KEY-----\<>\n-----END PRIVATE KEY-----\n", "client_email": "", "client_id": "", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "", "universe_domain": "googleapis.com"}'
YANDEXGPT__URI="gpt://<ВАШ_ИДЕНТИФИКАТОР_КАТАЛОГА>/yandexgpt/latest"
YANDEXGPT__IAM_TOKEN=""